<ion-header>
  <ion-toolbar>
    <ion-title>
      App Mobile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1> :3 :3 :3</h1>
  </ion-text>
<ion-text color="dark">
  <p>3: 3: 3:</p>
</ion-text>

<ion-text color="dark">
  <p>cause you make me feeeeeeeeel like  i've been locked out of heaven</p>
  <p class="rojo"> comunista</p>
  
</ion-text>

<ion-text color="primary">
  <p routerLink="/pagina2"> te la meto sin pretexto </p>
</ion-text>



</ion-content>

